<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="bootstrap admin template">
        <meta name="author" content="">
        <title>WebPos | Login</title>
        <link rel="apple-touch-icon" href="{{asset('assets/topbar/images/apple-touch-icon.png')}}?v=1">
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}?v=1">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{asset('assets/global/css/bootstrap.min.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/css/bootstrap-extend.min.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/topbar/css/site.min.css')}}?v=1">
        <!-- Plugins -->
        <link rel="stylesheet" href="{{asset('assets/global/vendor/animsition/animsition.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/vendor/asscrollable/asScrollable.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/vendor/switchery/switchery.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/vendor/intro-js/introjs.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/vendor/slidepanel/slidePanel.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/vendor/flag-icon-css/flag-icon.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/topbar/examples/css/pages/login-v3.css')}}?v=1">
        <!-- Fonts -->
        <link rel="stylesheet" href="{{asset('assets/global/fonts/web-icons/web-icons.min.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/fonts/brand-icons/brand-icons.min.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('css/fonts_googleapi.css')}}?v=1">
        <link rel="stylesheet" href="{{asset('assets/global/spin/jquery.spin.css')}}?v=1">
        <script src="{{asset('assets/global/vendor/breakpoints/breakpoints.js')}}?v=1"></script>
        <script>
            Breakpoints();
        </script>
    </head>
    <body class="animsition page-login-v2 layout-full" style="background-color:#479C52;">
        <!-- Page -->
        <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
            <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
                <div class="panel">
                    <div class="base_spin" style="width: 100%; height: 100%; position:absolute;z-index:1000;margin: 0px auto;background-color:rgba(255,255,255,0.4)">
                        <div class="spin" data-spin style="z-index: 10000;position:absolute;margin: auto;top: 0; left: 0; bottom: 0; right: 0;display: inline-block;vertical-align: middle;line-height: normal;">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="brand">
                            <img class="brand-img" src="{{asset('assets/images/intermex_min.jpg')}}?v=1" alt="..." style="width:100%;">
                            {#                            <h2 class="brand-text font-size-18">WebPos</h2>#}
                        </div>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">{{ flashMessage }}</div>
                        {% endfor %}
                        <form onsubmit="vel_submit('#form_login');
                                return false;" action="{{ path("webpos_frontend_valida_sesion") }}" method="post" id="form_login">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control" name="_username"  id="username" autocomplete="off" value="{{ last_username }}" required="required" />
                                <label class="floating-label">Usuario</label>
                            </div>
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="password" class="form-control" autocomplete="off" name="_password" id="password" required="required" />
                                <label class="floating-label">Clave</label>
                            </div>
                            <span class="help-inline">
                                Usa tus Credenciales de Active Directory
                            </span>
                            <button type="submit" id="_submit"  name="_submit" class="btn btn-primary btn-block btn-lg mt-40">Registro</button>
                        </form>
                    </div>
                </div>
                <footer class="page-copyright page-copyright-inverse">
                    <p>&copy; {{ "now"|date('Y') }} Red Chapina - Derechos Reservados</p>
                </footer>
            </div>
        </div>
        <!-- End Page -->
        <!-- Core  -->
        <script src="{{asset('assets/global/vendor/babel-external-helpers/babel-external-helpers.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/jquery/jquery.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/tether/tether.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/bootstrap/bootstrap.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/animsition/animsition.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/mousewheel/jquery.mousewheel.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/asscrollbar/jquery-asScrollbar.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/asscrollable/jquery-asScrollable.js')}}?v=1"></script>
        <!-- Plugins -->
        <script src="{{asset('assets/global/vendor/switchery/switchery.min.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/intro-js/intro.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/screenfull/screenfull.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/slidepanel/jquery-slidePanel.js')}}?v=1"></script>
        <script src="{{asset('assets/global/vendor/jquery-placeholder/jquery.placeholder.js')}}?v=1"></script>
        <!-- Scripts -->
        <script src="{{asset('assets/global/js/State.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Component.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Base.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Config.js')}}?v=1"></script>
        <script src="{{asset('assets/topbar/js/Section/Menubar.js')}}?v=1"></script>
        <script src="{{asset('assets/topbar/js/Section/Sidebar.js')}}?v=1"></script>
        <script src="{{asset('assets/topbar/js/Section/PageAside.js')}}?v=1"></script>
        <script src="{{asset('assets/topbar/js/Plugin/menu.js')}}?v=1"></script>
        <!-- Config -->
        <script src="{{asset('assets/global/js/config/colors.js')}}?v=1"></script>
        <script src="{{asset('assets/topbar/js/config/tour.js')}}?v=1"></script>
        <script>
                            Config.set('assets', '{{asset('assets/topbar')}}');
        </script>
        <!-- Page -->
        <script src="{{asset('assets/topbar/js/Site.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin/asscrollable.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin/slidepanel.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin/switchery.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin/jquery-placeholder.js')}}?v=1"></script>
        <script src="{{asset('assets/global/js/Plugin/material.js')}}?v=1"></script>
        <script src="{{asset('assets/global/spin/jquery.spin.js')}}?v=1"></script>
        <script src="{{asset('js/moment.min.js')}}?v=1"></script>
        <script src="{{asset('js/velscript.js')}}?v=1"></script>
        <script>
                            (function (document, window, $) {
                                'use strict';
                                var Site = window.Site;
                                $(document).ready(function () {
                                    Site.run();
                                });
                            })(document, window, jQuery);
        </script>
    </body>
</html>

